<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/test.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="nav-right visible-xs">
    <div class="button" id="btn1">
      <div class="bar top"></div>
      <div class="bar middle"></div>
      <div class="bar bottom"></div>
    </div>
  </div>
  <main>
    <nav>
      <div class="nav-right hidden-xs">
        <div class="button" id="btn2">
          <div class="bar top"></div>
          <div class="bar middle"></div>
          <div class="bar bottom"></div>
        </div>
      </div>
    </nav>
    <a href="https://codepen.io/tonkec/" class="ua" target="_blank">
      <i class="fa fa-user"></i>
    </a>
  </main>
  <div class="sidebar">
    <ul class="sidebar-list">
      <li class="sidebar-item"><a href="#" class="sidebar-anchor">信息查看</a></li>
      <li class="sidebar-item"><a href="#" class="sidebar-anchor">信息修改</a></li>
      <li class="sidebar-item"><a href="#" class="sidebar-anchor">在线报修</a></li>
      <li class="sidebar-item"><a href="#" class="sidebar-anchor">退出登录</a></li>
    </ul>
  </div>
  <script type="text/javascript" src="../static/js/test.js"></script>
</body>
</html>